.container-mobile {
  padding-bottom: 45px;
  .tabs {
    .tab-nav-list {
      display: flex;
      gap: 5px;
      justify-content: space-evenly;
      .tabs-tab {
        font-size: 15px;
        background: rgb(234, 236, 237);
        height: 28px;
        line-height: 25px;
        padding: 2px 10px;
        border-radius: 14px;
        &-active {
          border-bottom: none;
          background-color: #3db477;
          color: #fff !important;
        }
      }
    }
    .tabs-content-list {
      .tabs-content-item {
        padding: 10px 0px;
      }
    }
  }
}
