$color: red;

.home-wrapper {
  &-header {
    width: 100%;
    position: relative;
    img.intro-cover {
      width: 100%;
      height: 380px;
      object-fit: cover;
    }
    .logo-mark {
      position: absolute;
      bottom: 0;
      left: 24px;
      width: 136px;
      height: 136px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .nav {
      list-style: none;
      height: 55px;
      margin: 0;
      margin-top: -4px;
      padding: 0;
      padding-left: 200px;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      color: #909090;
      li {
        display: flex;
        align-items: center;
        height: calc(100% - 4px);
        padding: 0 4px;
        text-align: center;
        letter-spacing: 4px;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        transition: all 0.2s;
        transform: translateY(2px);
        margin-right: 36px;
        &:last-child {
          margin-right: 0;
        }

        &.active {
          color: #d181ff;
          border-color: #d181ff;
        }
        &:hover {
          color: #d181ff;
        }
      }
    }
  }

  &-content {
    padding-top: 36px;
    & > section {
      display: none;
      &.tab-show {
        display: block;
        margin-bottom: 40px;
      }
    }

    .organize {
      display: flex;
      .intro {
        flex: 1;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 30px;
        text-align: justify;
      }
      &-logo {
        margin-left: 20px;
        width: 360px;
        object-fit: contain;
        border: 1px solid #eaeaea;
        border-radius: 4px;
      }
    }
  }
}
