$header-height: 68px;
$footer-height: 210px;

.container {
  // height: 100%;
  // overflow: hidden;
  header.main-header {
    height: $header-height;
    box-shadow: 0px 1px 8px #e8e8e8;
    & > .header-content {
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

  //   .logo-area {
  //     font-weight: 700;
  //     font-style: normal;
  //     font-size: 27px;
  //     display: inline-flex;
  //     align-items: center;
  //     gap: 6px;
  //     transition: all 0.3s ease 0s;
  //     cursor: pointer;
  //     img {
  //       width: 50px;
  //       height: 50px;
  //       object-fit: cover;
  //     }

  //     .logo-key {
  //       color: #8362ee;
  //     }
  //     .logo-content {
  //       color: #555;
  //       font-size: 20px;
  //     }
  //   }

  //   .actions {
  //     display: inline-flex;
  //     align-items: center;
  //     gap: 20px;

  //     & > a,
  //     & > span {
  //       font-weight: 500;
  //       font-size: 13px;
  //       color: #1e1e1e;
  //       cursor: pointer;
  //       transition: all 0.3s ease 0s;
  //       letter-spacing: 1px;
  //     }

  //     & > a,
  //     & > span:not(.not-link) {
  //       &:hover {
  //         color: #ff589e;
  //       }
  //     }
  //     .user-info {
  //       display: inline-flex;
  //       flex-direction: row;
  //       gap: 6px;
  //       align-items: center;
  //     }
  //   }
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;
  }

  & > main {
    // height: calc(100% - $header-height);
    // overflow: auto;
    // & > .content {
    //   min-height: calc(100% - #{$footer-height});
    //   margin: 0 auto;
    //   padding: 20px 0 40px;
    //   display: flex;
    //   flex-direction: column;
    // }
    & > footer {
      background: #e0e0e0;
      padding-top: 20px;
      height: $footer-height;
      .footer-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        margin-bottom: 20px;

        section {
          display: inline-flex;
          flex-direction: column;
          .sub-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
          }
          .sub-items {
            font-size: 12px;
            color: #909090;
            line-height: 24px;
            text-indent: 4px;
            // font-style: italic;
            display: flex;
            flex-direction: column;
            & > div {
              a {
                color: #909090;
                position: relative;
                cursor: pointer;
                &:after {
                  content: '';
                  display: inline-block;
                  height: 1px;
                  border-bottom: 1px solid #3db477;
                  position: absolute;
                  left: 50%;
                  right: 50%;
                  bottom: -1px;
                  transition: 0.15s linear;
                }
                &:hover {
                  color: #3db477;
                  &:after {
                    left: 0;
                    right: 0;
                  }
                }
              }
            }
          }
        }
      }
      .record-number {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 14px;
        line-height: 70px;
        color: #333;
      }
    }
  }
}

.nav-link {
  cursor: pointer;
  &:hover {
    color: #ff589e;
  }
}
.nav-common-link {
  padding: 0 2px;
}
.custom-course-nav {
  display: inline-flex;
  align-items: center;
  gap: 36px;
  margin-right: 40px;
}
.user-dropdown-menus {
  .ant-dropdown-menu {
    padding: 0;

    &-item {
      height: 36px;
      &-active {
        color: #66b1ff;
        background: #ecf5ff;
      }
    }
  }
}

.normal-form {
  & > h3 {
    font-weight: 500;
    font-size: 18px;
    margin: 16px 0 20px;
    text-align: center;
    color: #333;
  }
  .ant-form-item-control-input {
    input {
      background: #fefefe;
    }
  }
  .ant-form-item-control-input-content {
    button {
      border-color: #3db477;
      background: #3db477;
      &:hover {
        opacity: 0.8;
      }
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background: #fefefe;
    }
  }
}

@media (max-width: 1200px) {
  .container > header {
    padding: 0 10px;
  }
  .course-container > header .logo-area {
    font-size: 22px;
  }

  .container > main > .content {
    padding: 20px 20px 40px;
  }
}

.title {
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  margin-bottom: 24px;
  &:before {
    content: '';
    border-left: 4px solid #0170fe;
    margin-right: 6px;
  }
}

.os2edu-dropdown .dropdown-trigger .dropdown-trigger-icon svg {
  transform: translateY(-1px) scale(1.2);

}